<%= form_with(model: deal) do |form| %>
  <% if deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
        <% deal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :regular_price %>
    <%= form.text_field :regular_price %>
  </div>

  <div class="field">
    <%= form.label :discounted_price %>
    <%= form.text_field :discounted_price %>
  </div>

  <div class="field">
    <%= form.label :best_price %>
    <%= form.text_field :best_price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :campaign_id %>
    <%= form.text_field :campaign_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
