<p id="notice"><%= notice %></p>

<h1>Deals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Regular price</th>
      <th>Discounted price</th>
      <th>Best price</th>
      <th>Description</th>
      <th>Campaign</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.name %></td>
        <td><%= deal.regular_price %></td>
        <td><%= deal.discounted_price %></td>
        <td><%= deal.best_price %></td>
        <td><%= deal.description %></td>
        <td><%= deal.campaign_id %></td>
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal', new_deal_path, class: "btn btn-primary" %>
